.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background: white;
    font-size: 24px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 60px;
  }
  
.navbar a {
    color:#ffee00;
    text-align: center;
    text-decoration: none;
  }
  
ul li{
    list-style: none;
  }