main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
}

.projs-c {
  
  padding: 50px;
  color: rgb(0, 0, 0);
  background-color: #f5f5f5;
  align-items: center;

}



header h2 {
  color: #111;
  font-size: 2.25rem;
  align-items: center;
}

img{
  width: 80%;
  padding-top: 10px;
  
}
  
li{
  list-style: none;


}
p{
  padding-top: 10px;
}


.cliente-solo{
  
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.164);
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgb(179, 179, 179);
  font-size: 15px; 
  text-align: center;
  text-decoration: none;
  max-width: 300px;
  justify-content: space-between;

  
}

.cliente-div{
  display: grid;
  grid-template-columns: 400px 400px 400px;


}


